<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boa Doação | Inicio</title>
    <link rel="icon" href="../img/iconlogo.png" />
    <!-- ICONE DO TITULO DA PAGINA -->
    
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
    <link rel="stylesheet" type="text/css" href="./css/campanha.css" />

    
    <script src="./js/listaCampanha.js"></script>

    <script>
      function Abrir(){
      window.open("/agendamento");
    }
    </script>

  </head>

  <header class="cabecalho">
    <!-- MENU DA PAGINA -->
    <img src="../img/logo_menu.png" alt="logo boa doação" />
    <ul class="cabecalho-menu">
      <li class="cabecalho-menu-itens"><a href="/">Inicio</a></li>
      <li class="cabecalho-menu-itens"><a href="sobre">Sobre</a></li>
      <li class="cabecalho-menu-itens">
        <a href="cadastro"> <input type="button" value="CADASTRAR ONG" /></a>
      </li>
      <li class="cabecalho-menu-itens-acessar">
        <a href="login">Acessar Conta</a>
      </li>
    </ul>
  </header>

  <body>
    <div id="container" class="container">
      


          
      </div>


      
        
      
    </div>
    

        
  </body>


</html>
