<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boa Doação | Inicio</title>
    <link rel="icon" href="../img/iconlogo.png" />
    <!-- ICONE DO TITULO DA PAGINA -->
    <link rel="stylesheet" type="text/css" href="./css/inicio.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
  </head>

  <header class="cabecalho">
    <!-- MENU DA PAGINA -->
    <img src="../img/logo_menu.png" alt="logo boa doação" />
    <ul class="cabecalho-menu">
      <li class="cabecalho-menu-itens"><a href="/">Inicio</a></li>
      <li class="cabecalho-menu-itens"><a href="sobre">Sobre</a></li>
      <li class="cabecalho-menu-itens">
        <a href="cadastro"> <input type="button" value="CADASTRAR ONG" /></a>
      </li>
      <li class="cabecalho-menu-itens-acessar">
        <a href="login">Acessar Conta</a>
      </li>
    </ul>
  </header>

  <body>
    <div class="container">
      <!-- CONTEUDO DA PAGINA -->
      <div class="container-texto">
        <div class="container-texto-preto">
          Quem tem fome<br />
          tem pressa. <br />Encontre aqui<br />
          familias que
          <p class="container-texto-laranja">você pode ajudar!</p>
        </div>
        <a href="campanhas">
        <input
          class="container-texto-button"
          type="button"
          value="Faça uma Doação"
          />
        </a>
      </div>

      <div class="container-img">
        <!-- IMG PRINCIPAL DA PAGINA -->
        <img
          src="../img/mulher_inicio.svg"
          alt="Mulher segurando cesta de alimentos"
        />
      </div>
    </div>
  </body>

  <footer class="rodape">
    <!-- RODAPÉ -->
    <center>
      <p>
        Desenvolvido por
        <a
          href="https://www.linkedin.com/in/vitoria-hellen-ba5877145/"
          target="_blank"
          >Vitoria Hellen </a
        >❤
      </p>
    </center>
  </footer>
</html>
