<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boa Doação | Inicio</title>
    <link rel="icon" href="../img/iconlogo.png" />
    <!-- ICONE DO TITULO DA PAGINA -->
    <link rel="stylesheet" type="text/css" href="./css/inicio.css" />
    <link rel="stylesheet" type="text/css" href="./css/header.css" />
  </head>

  <header class="cabecalho">
    <!-- MENU DA PAGINA -->
    <img src="../img/logo_menu.png" alt="logo boa doação" />
    <ul class="cabecalho-menu">
      <li class="cabecalho-menu-itens"><a href="/">Inicio</a></li>
      <li class="cabecalho-menu-itens"><a href="sobre">Sobre</a></li>
      <li class="cabecalho-menu-itens">
        <a href="cadastro"> <input type="button" value="CADASTRAR ONG" /></a>
      </li>
      <li class="cabecalho-menu-itens-acessar">
        <a href="login">Acessar Conta</a>
      </li>
    </ul>
  </header>
  <style>
    .conteudo {
      margin-left: 15%;
      margin-right: 15% ;
      margin-top: 8%;
      margin-bottom: 25%;
      
      
    }

    .paragrafo {
      font-size: 20pt;
    }
  </style>
  <body>
    <div class="conteudo">
      <p class="paragrafo">
        <center>Generosidade não é apenas uma ação, é sim uma virtude que beneficia a todos.<br>
        A plataforma Doe Bem tem o propósito de fortalecer a generosidade e a cultura
        de doações.<br></center>
        <center>Nós criamos conexões entre pessoas que desejam contribuir com o proximo e 
        as ONGs que realizam campanhas para fámilias em vunerabilidade social.<br></center>
        <center>Com sua participação, o número de fámilias beneficiadas na cidade de Porteirinha (MG),
        será cada vez maior.</center>
      </p>
    </div>
  </body>

  <footer class="rodape">
    <!-- RODAPÉ -->
    <center>
      <p>
        Desenvolvido por
        <a
          href="https://www.linkedin.com/in/vitoria-hellen-ba5877145/"
          target="_blank"
          >Vitoria Hellen </a
        >❤
      </p>
    </center>
  </footer>
</html>
