<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boa Doação | Relatórios</title>
    <link rel="icon" href="../../img/iconlogo.png" />
    <!-- ICONE DO TITULO DA PAGINA -->
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/tabela.css" />
    <script src="../js/listaAgendamento.js"></script>
  </head>

  <header class="cabecalho">
    <!-- MENU DA PAGINA -->
    <img src="../../img/logo_menu.png" alt="logo boa doação" />
    <ul class="cabecalho-menu">
      <li class="cabecalho-menu-itens"><a href="home">Inicio</a></li>
      <li class="cabecalho-menu-itens"><a href="relatorios">Relatórios</a></li>
      <li class="cabecalho-menu-itens">
        <a href="novacampanha">
          <input type="button" value="Nova Campanha"
        /></a>
      </li>
      <li class="cabecalho-menu-itens-acessar"><a href="login">Sair</a></li>
    </ul>
  </header>

  <body class="body">

    <div class="container">
      <table  class="tabela">  <!-- INICIO DA TABELA -->
         <!-- CABECALHO DA TABELA -->
         
          <tr class="tabela-titulo"> <!-- LINHA -->
            <th>Nome</th> <!-- ITENS DAS COLUNAS -->
            <th>Celular</th>
            <th>Data de Entrega</th>
            <th>Observação</th>
            <th>Nome da Campanha</th>
            
        </tr>
       
          <tbody id="tabela">
          <tr class="tabela-itens">
              <td>Vitoria Hellen Ferreira Silva Nunes</td>
              <td>38991752466</td>
              <td>07/12/2022</td>
              <td>Vou entregar na parte da manhã</td>
              <td>Natal Solidário II</td>
              
          </tr>

          
          </tr>

        </tbody>
      </table>

    </div>


  </body>
</html>
